<!DOCTYPE html>
{% load static %}
{#<script src="{% static 'js/index.js' %}"></script>#}
<html>
{% include 'head.html' %}
    {% block head %}
        <!--head area-->
    {% endblock %}

    {% block title %}
        <title>ニア食</title>
    {% endblock %}

    <div class="bg-dark">
        <div class="container h-100 w-100 p-3">
            {% include 'header.html' %}
            {% block header %}
                <!--header area-->
            {% endblock %}
            <hr class="pink-line">

            <div class=""></div>

            {% block body %}
                <!--body area-->
            {% endblock %}
            <hr class="pink-line">
            {% include 'footer.html' %}
        </div>
    </div>
</html>