<!--src credits-->
<div class="container bg-footer-index text-black card-footer text-footer">
    クレジット
    <br>
    <!--hot pepper api-->
    Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパーグルメ Webサービス</a>
    <br>
    <!--result thumbnail-->
    <a href="https://www.flaticon.com/kr/free-icons/-" title="식품 커버 아이콘">食品カバーのアイコン 作者: catkuro - Flaticon</a>
    <!--icon detail list-->
    <a href="https://www.flaticon.com/kr/free-icons/-" title="화살표 아이콘">矢印アイコン 作者: Maximka - Flaticon</a>
</div>
