{% load static %}
<script src="{% static 'js/get_geo.js' %}"></script>

<div class="container location-box col border
border-secondary-subtle w-75">
    <label class="text-white text-subhead">
        Current Location
    </label>
    <div>
        <label class="text-white text-location geolocation-html-show">
        緯度
        </label>
        <label id="current_lat_geo" class="text-white text-location">
            --.----
        </label>
        <label class="text-white text-location">
            経度
        </label>
        <label id="current_lng_geo" class="text-white text-location">
            ---.----
        </label>
    </div>
</div>
{% if selected_lat %}
    <div class="container location-box col border
    border-secondary-subtle w-75">
        <label class="text-white text-subhead">
            Selected Location
        </label>
        <div>
            <label class="text-white text-location">
            緯度 {{selected_lat}}
            </label>
            <label class="text-white text-location">
                経度 {{selected_lng}}
            </label>
        </div>
    </div>
{% endif %}