<!-- exception style -->
<div class="container pt-5 bg-dark text-white"
     onclick="location.href='{% url 'index' %}'"
     style="cursor:pointer">
{#    <button class="btn-lg btn-dark w-100 h-100"#}
{#    type="button">#}
{#        Near shoku!#}
{#    </button>#}
    <label class="fa-solid fa-pepper-hot justify-content-center"
       aria-hidden="true"></label>
    <h1 class="display-1 d-flex justify-content-center rubik-font"
        style="cursor:pointer"
        id="main-text">
        Near shoku!
    </h1>
</div>
<hr class="pink-line">