{% extends 'base.html' %}
{% block title %}
    <title>index title!</title>
{% endblock %}

{% block body %}
{% load static %}
<script type="text/javascript">

</script>
    <form id="byCurrent" method="POST">
        {% csrf_token %}
        <div id="currentRange">
            Searching Range:
            <select id="selectCurrentLocationRange">
                <option value="30d">300m</option>
                <option value="50d">500m</option>
                <option value="1k">1km</option>
                <option value="2k">2km</option>
                <option value="3k">3km</option>
            </select>
        </div>
        <div>
            <a href="{% result %}" id="submitCurrentLocation">search by current location</a>
        </div>
    </form>

    <h1>this page is index.html!</h1>

    <div id="bySelected">
        <div id="selectMap">map</div>
        <div id="selectedRange">
            Searching Range:
            <select id="selectSelectedLocationRange">
                <option value="30d">300m</option>
                <option value="50d">500m</option>
                <option value="1k">1km</option>
                <option value="2k">2km</option>
                <option value="3k">3km</option>
            </select>
        </div>
        <div>
            <button type="button" id="submitSelectedLocation">search by selected location</button>
        </div>
    </div>
{% endblock %}