<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <script src="{% static 'js/bootstrap.bundle.min.css' %}"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} "
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

{% block title %}
<!--title area-->
{% endblock %}
<!--insert js/css-->
<header>
    <div class='container pt-5 bg-dark text-white'>
        <h1 class="d-flex justify-content-center">Near shoku!</h1>
        <div class="container">
            <label class="d-flex justify-content-center">
                Current location</label>
            <label class="d-flex justify-content-center" id="currentLoactionLAT">
                緯度 {{current_lat}}</label>
            <label class="d-flex justify-content-center" id="currentLoactionLNG">
                経度 {{current_lng}}</label>
        </div>
    </div>
</header>


{% block body %}

<!--body area-->

{% endblock %}

{% block footer %}

<div class="container bg-dark text-white card-footer">
    Powered by <a href="http://webservice.recruit.co.jp/">ホットペッパーグルメ Webサービス</a>
</div>
{% endblock %}
</html>